.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    padding: 10px;
}

.dialogItem{
    margin-bottom: 3px;

}

.dialogItem a {
    text-decoration: none;
    color: red;
}

.dialogItem a:hover {

    color: black;
}

.messages {
 padding: 10px;
}

.message {
 padding: 10px;
}

.active a {
    color:gold;
}
