.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: white;
    border-radius: 12px;
}

.dialog {
    padding: 10px;
    border-right: 2px dashed #edeef0;

}

.dialogItem{

    border-radius: 5px;
    text-align: center;
    padding: 5px 0px;
}

.dialogItem a {
    text-decoration: none;
    color: black;
}

.dialogItem:hover {
    background-color: #eeeee4;

}



.messages {
 padding: 10px;
}

.message {
 padding: 10px;

}

.message:hover {

}

