.musicWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.musicWrapper img {
    width: 200px;
}

.musicWrapper p {
    font-size: 15px;
    font-weight: 900;
}